.root {
    -fx-background-color: -fx-bacground-color-default;
}

.combo-box-base {
    -fx-background-color: -fx-primary-color-default;
}

.combo-box-base:hover {
    -fx-background-color: -fx-primary-color-hover;
}

.nav-bar {
    -fx-background-color: -fx-primary-color-default;
}

.nav-button {
    -fx-background-insets: 100;
}

.filter-bar {

}

.filter-button {
    -fx-background-color: -fx-primary-color-default;
}

.filter-button:hover {
    -fx-background-color: -fx-primary-color-hover;
}

.scroll-pane {
    -fx-background-color: -fx-bacground-color-default;
}