@font-face {
    src: url("../fonts/Italiana-Regular.ttf");
}

.root {
    -fx-background-color: -fx-bacground-color-default;
}

.filter-bar {
    -fx-alignment: center;
    -fx-min-height: 150;
}

.combo-box .combo-box, .main-button, #time, #favorite {
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: -fx-secondary-color-default;
    -fx-border-radius: 15;
}

.combo-box .combo-box:showing, #time:showing, #favorite:showing {
    -fx-background-radius: 15 15 0 0;
    -fx-border-radius: 15 15 0 0;
}

.main-button {
    -fx-padding: 10 20 10 20;
}

.main-button:hover, .combo-box:hover .text {
    -fx-underline: true;
}