.root {
    -fx-background-color: -fx-bacground-color-default;
}

.hehe-box {
    -fx-spacing: 50;
    -fx-alignment: center-left;
}

.veve-box {
    -fx-start-margin: 50 100 50 100;
    -fx-padding: 50 100 50 100;
    -fx-spacing: 30;
}

.text-field, .combo-box {
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: -fx-secondary-color-default;
    -fx-border-radius: 15;
}

.combo-box {
    -fx-padding: 10 20 10 20;
}

.combo-box:showing {
    -fx-border-radius: 15 15 0 0;
}

.text-field {
    -fx-wrap-text: true;
    -fx-padding: 10 20 10 20;
}

.bebe-buton {
    -fx-padding: 10 20 10 20;
    -fx-min-width: 150;
    -fx-background-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: -fx-secondary-color-default;
    -fx-border-radius: 15;
}

.bebe-buton:hover, .hehe-box:hover .label {
    -fx-underline: true;
}

.button-hehe {
    -fx-spacing: 100;
}

#name {
    -fx-pref-width: 800;
}

#categories {
    -fx-pref-width: 250;
}