.item {
    -fx-max-width: 1600;
    -fx-pref-height: 100;
    -fx-background-color: white;
}

.item:hover {
    -fx-border-width: 2;
    -fx-border-color: -fx-primary-color-default;
}


.image-wrapper {
    -fx-alignment: center-left;
    -fx-pref-width: 200;
}

.lower-bar {
    -fx-spacing: 30;
    -fx-font-weight: bold;
}

.time {
    -fx-fill: -fx-secondary-color-default;
}

.isFavorite {
    -fx-padding: 0 50 0 0;
}