@font-face{
font-family:"AlumniSans";
src:url("../fonts/AlumniSans-Regular.ttf");
}
*{
-fx-font-family:"Alumni Sans Regular";
}
.header{
-fx-background-color:#CC80B7;
}
.header .button
{
-fx-font-size:24;
-fx-font-family:"Alumni Sans Regular";
-fx-background-color:#CC80B7;
-fx-text-fill:#000;
}
.H1{
-fx-font-size:32;
}
.body{
-fx-background-color:#F6E7DF;
}
.choiceboxsort{
-fx-font-size:24;
}